*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    height: 100vh;
    border: 2px solid #fff000;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    /* column-gap: 5px;
    row-gap: 5px; */
    gap: 5px;
    
    /* justify-items: end;
    align-items: center;
    justify-content: center;
    align-content: center; */
}

.container :nth-child(1){
    grid-column-start: 1;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 2;
}

.container :nth-child(2){
    /* grid-column-start: 1;
    grid-column-end: 2; */
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    /* grid-row-start: 4;
    grid-row-end: 6; */
}

.container :nth-child(3){
    /* grid-column-start: 1;
    grid-column-end: 2; */
    grid-column: 1 / 2;
    grid-row: 4 / 6;
    /* grid-row-start: 4;
    grid-row-end: 6; */
}

.container :nth-child(4){
    grid-column: 3 / 2;
    grid-row: 2 / 6;
}

.container :nth-child(5){
    grid-column: 1 / 4;
    grid-row: 6 / 7;

}


/* @media tipo-de-midia(screen/print/speech) e (max-width, min-width, orientation, min-resolution, max-resolution) */

@media screen and (max-width:360px){
    
.container :nth-child(1){
    grid-column-start: 1;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 2;
}

.container :nth-child(2){
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.container :nth-child(3){
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}

.container :nth-child(4){
    grid-column: 1 / 4;
    grid-row: 4 / 5;
}

.container :nth-child(5){
    grid-column: 1 / 4;
    grid-row: 6 / 7;

}
}








/* .container :nth-child(2), .container :nth-child(3){
    background-color: #ff3300;

    justify-self: flex-start;
    align-self: flex-end;

}

.container :nth-child(2):hover, .container :nth-child(3):hover{
    background-color: #00ff0d;
} */


.box{
    color: #fff;
    border: 2px solid #0000ff;
    background-color: #1f1e0b;
    text-align: center;
}

/* .box-1{
    background-color: #ff1500;
    transition: all .4s ease-in-out;
}

.box-1:hover{
    background-color: black;
} */