*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    background-color: rgb(238, 127, 179);
    border: 2px solid #ff0077;
    grid-template-columns: 33vw 33vw 33vw;
    grid-template-rows: 10vh 10vh 10vh;
    column-gap: 5px;
    row-gap: 5px;
    align-items: center;
    justify-content: center;


}

.box{
    color: #ffffff;
    border: 2px solid #91ff00;
}